@import url('https://fonts.googleapis.com/css2?family=Reggae+One&display=swap');

*{
    text-align: center;
    font-family: Arial;
    user-select: none;
}

html{
    background-image: linear-gradient(black, gray, black);
    display: flex;
    justify-content: center;
    align-items: center;
}

body{
    width: 55%;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.caché {
	opacity: 0;
	transition: all 1s;
	filter: blur(5px);
	transition-delay: 80ms;
}

.afficher {
	opacity: 1;
	filter: blur(0);
}

.hidden {
	opacity: 0;
	transition: all 1s;
	filter: blur(5px);
	transform: translateY(100%);
	transition-delay: 80ms;
}

.show {
	opacity: 1;
	filter: blur(0);
	transform: translateY(0);
}

h1{
    font-family: Reggae One;
}

.container{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: default
}

.container .infos{
    display: flex;
    flex-direction: column;
    background-color: white;
    color: black;
    padding: 20px 10px;
    width: 50%;
    border-radius: 20px;
    box-shadow: 1px 1px 20px black;
}

.infos img{
    border-radius: 15px;
}

.container:hover  p {
    display: block;
}

ul{
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

li{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

h2{
    width: 50%;
}

#cristal{
    width: 20%;
}

.vl {
    border-left: 6px solid rgb(0, 0, 0);
    height: 200px;
    position: relative;
    left: 50%;
    margin-left: -3px;
    top: 0;
}

#resume{
    text-align: center;
    width: 100%;
    background-color: white;
    color: black;
    padding: 20px 10px;
    border-radius: 20px;
    border: 2px solid black;
    box-shadow: 1px 1px 20px black;
}

h6{
    font-style: italic;
    font-weight: 100;
}

a{
    color: gray;
}

#polyedres{
    width: 100px;
}

@media screen and (max-width: 700px) {
    body {
        width: 100%;
        overflow-x: hidden;
    }
    ul {
        width: 90%;
    }
    .container .infos {
        width: 90%; /* Adjust the width to your preference */
    }
}
